ul, li {
  margin:0;
  padding:0;
  list-style:none;
  font-size: 1.2rem;
  font-family: arial;
}

.page-header {
  display: flex;
  justify-content: space-between;
  background-color: #3b5998;
  align-items: center;
  padding: 3px;
}

.header-menu {
  display: flex;
}
.header-menu li {
  margin-left: 10px;
}

.header-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.page-header img {
height: 75px;
margin-left: 15px;
}