#form {
  width: 100vw;
  height: 100vh;
  
} 

#form main {
  width: 50%;
  background:  #ffffff;
  max-width: 72rem;
  border-radius: 0.8rem;
  margin: -1.5rem auto 3.2rem;
  padding-top: 6.0rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

 legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 2.2rem;
  font: 700 2.3rem Arial;
}
#submit-button {
  height: 100%;
  width: 100%;
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}